@import url("./theme.css");
footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-top: 2px solid var(--color-secondary);
  padding: 0.5em;
  text-align: center;
}
